<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="bootstrap.php"
		 verbose="true"
		 convertDeprecationsToExceptions="true"
		 timeoutForSmallTests="900"
		 timeoutForMediumTests="900"
		 timeoutForLargeTests="900">
	<coverage>
		<include>
			<directory suffix=".php">../../files_automatedtagging/appinfo</directory>
			<directory suffix=".php">../../files_automatedtagging/lib</directory>
		</include>
		<report>
			<clover outputFile="./clover.xml"/>
		</report>
	</coverage>
	<testsuite name="Files Automated Tagging Tests">
		<directory suffix="Test.php">.</directory>
	</testsuite>
</phpunit>
